<section role="search">
  <form method="GET">
    <label for="search">Buscador de películas</label>
    <div>
      <input
        type="text"
        id="search"
        name="search"
        placeholder="ej: El perro del hortelano"
      />
    </div>
    <input type="button" value="Buscar" />
  </form>
</section>
