<section role="search">
  <form method="GET">
    <label for="search">
      <i class="fas fa-video"></i> Buscador de películas</label
    >
    <div>
      <i class="fas fa-search"></i>
      <input
        type="text"
        id="search"
        name="search"
        placeholder="El perro del hortelano"
      />
    </div>
    <input type="button" value="Search" />
  </form>
</section>
