/* header */
.header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
}

.header-name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #099d8d;
  opacity: 0.95;
  padding: 15px 80px 15px 80px;
}

.logo {
  width: 80%;
}

.header-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #14d9c4;
  opacity: 0.95;
  list-style-type: none;
  margin: 0;
  padding: 8px 17px 7px 16px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}
