* {
  margin: 0;
  box-sizing: border-box;
}

/* header: contenedor principal */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
}

/* header: contenedor nombre del grupo */
.header-team-name {
  display: flex;
  text-align: center;
  padding: 15px 80px 15px 80px;
  background-color: #099d8d;
}

/* header: elementos del contenedor nombre del grupo */
.logo {
  width: 40%;
}

/* header: contenedor menú navegación */
.header-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 17px 7px 16px;
  background-color: #14d9c4;
}

/* header: elementos del contenedor menú navegación */

.list-item {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 2;
}

/* mediaqueries tablet*: la fusión de las dos cabeceras se debe hacer así*/

@media all and (min-width: 768px) {
  .header-team-name {
    text-align: left;
    padding: 15px 0 15px 45px;
  }
  .header-list {
    position: absolute;
    top: 5%;
    right: 0;
    width: 45%;
    background-color: #099d8d;
    padding: 16px 45px 14px 0;
  }
  .link {
    line-height: 1.88;
  }
}

/* mediaqueries desktop*/

@media all and (min-width: 1200px) {
  .header-team-name {
    padding: 15px 0 15px 142px;
  }
  .header-list {
    width: 35%;
    padding: 16px 138px 14px 0;
  }
  .link {
    line-height: 2;
  }
}
