.App {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.App-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 20px;
}

.App-name {
  color: black;
  font-size: 30px;
}

.App-date {
  color: grey;
  font-size: 16px;
}

.App-text {
  color: grey;
  font-size: 20px;
  margin: 20px;
}

.App-small {
  display: flex;
  flex-direction: row;
}

.App-small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.App-info {
  color: #d5d5d5;
  font-size: 20px;
}

.App-likes {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.App-likesNumber {
  color: black;
  margin-right: 10px;
}

.App-icon {
  color: red;
}
