* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  background-color: turquoise;
  border: 1px solid white;
  height: 30px;
  margin: 50px 0;
}

.container2 {
  background-color: turquoise;
  border: 1px solid white;
  height: 30px;
  height: 30px;
  margin: 50px 0;
}

.container3 {
  background-color: turquoise;
  border: 1px solid white;
  height: 30px;
  height: 30px;
  margin: 50px 0;
}

.container4 {
  background-color: turquoise;
  border: 1px solid white;
  height: 30px;
  height: 30px;
  margin: 50px 0;
}
.container5 {
  background-color: turquoise;
  border: 1px solid white;
  height: 30px;
  height: 30px;
  margin: 50px 0;
}
