.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 5px solid blue;
}

.item {
  box-sizing: border-box;
  border: 2px solid purple;
}
